*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gradle/4.1/fileChanges/last-build.bin
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/resourceHashesCache.bin
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
.idea/vcs.xml
